* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* Buatlah styling section top dibawah ini */



/* Buatlah styling section container dan card dibawah ini */

.container{

}


/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
