.App {
  width: 30%;
  margin: auto;
  margin-top: 3px;
  box-shadow: 0 15px 17px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.App p {
  color: #aaa;
  font-size: 30px;
}

.App hr {
  margin-top: 10px;
  background: #aaa;
}

.input-checkbox {
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.input-checkbox p {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  background-color: #45a049;
  border: none;
  color: white;
}

button:active {
  background-color: red;
}

.App img {
  width: 100%;
}
